{% extends 'base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static "machineLearning/about-page.css" %}">
<link rel="stylesheet" href="{% static "machineLearning/navbar.css" %}">
{% endblock %}
{% block title %}<title>About Page</title>{% endblock  %}

{% block body %}
    {% block navbar %}  
        {% include "machineLearning/includes/navbar.html" %}
    {% endblock %}
    <section id="about-page">
        <h3>This project makes image classification on foods powered by PyTorch and Django and gives their nutrition rates based on prediction. </h3>
        <h3>Made by Caner Geyik and Ulaş Tan Ersoyak</h3>
        <h3>Python in Enterprise</h3>
    </section>
{% endblock %}